<main>
    <img src="{{image}}" alt="this image isn't loading, but we promise it's beautiful!">
    <h1>{{productName}}</h1>
    <div class="proflab">
    <p>Brand: {{brand}}</p>
    <p>Effects: </p>
    {{#if effects}}
    <ul>
        {{#each effects}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>None</p>
    {{/if}}
    <p>Price: {{price}}</p>
    </div>
    <form id="like" action="/products/like/{{productid}}" method="POST">
        <button type="submit">LIKE</button>
    </form>
    <form id="dislike" action="/products/dislike/{{productid}}" method="POST">
        <button type="submit">DISLIKE</button>
    </form>
    <div class="proflab">
    <p>Reviews:</p></div>
    <a href="/products/review/{{productid}}">Write a review!</a>
    {{#if reviews}}
    <ul>
        {{#each reviews}}
        <li>
            <p>{{profile.name}} says:</p>
            <p>"{{review}}"</p>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No reviews yet</p>
    {{/if}}

    <div class="proflab">
    <p>Related Products</p>
    {{#if relatedProducts}}
    <ul>
        {{#each relatedProducts}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>None</p>
    {{/if}}
    <div class="proflab">

</main>
<footer>
    <ol>
        <h2>elsewhere:</h2>
        <li><a href="/search">search again?</a></li>
        <li><a href="/private">return to your profile?</a></li>
        <li><a href="/logout">log out now?</a></li>
    </ol>
</footer>
