<!DOCTYPE html>
    <html>
        <head>
            <title>profile</title>
            <link rel="stylesheet" href="../../public/site.css">
        </head>
        <body>
           <h1>welcome, {{name}}, to your profile.</h1>
            <main>
                <h2>account details:</h2>
                <p><span id="proflab">name: {{name}}</span></p>
                <p><span id="proflab">previously, you have searched for: {{prevsearches}}</span></p>
                <p><span id="proflab">your likes: {{likes}}</span></p>
                <p><span id="proflab">your dislikes: {{dislikes}}</span></p>
            </main>
            <footer>
                <h2>what would you like to do next, {{name}}?</h2>
                <ol>
                    <li><a href="/search">search for a new product?</a></li>
                    <li><a href="/logout">log out now?</a></li>
                </ol>
            </footer>
       </body>
</html>
