<h1>search for a product</h1>
<main>
	<form action="/search" method="POST" id="search-form">
		<input type="text" id="keywords" name="keywords">
		<button type="submit">search</button>
	</form>
	{{messages}}
	{{#if resultList}}
	<ul>
		{{#each resultList}}
		<li>
			<a href="/products/{{_id}}">{{productName}}</a>
		</li>
		{{/each}}
	</ul>
	{{else}}
	<p class="not-found">We're sorry, but no results were found for "{{term}}"</p>
	{{/if}}
	<br>
	<div class="proflab">
	<p><label>previously, you have searched for:</label></p>
	{{#each prevsearches}}{{this}} ; {{/each}}</div>
</main>
<footer>
	<h2>or, if you don't want to search for anything: </h2>
	<ol>
		<li><a href="/private">return to your profile?</a></li>
		<li><a href="/logout">log out now?</a></li>
	</ol>
</footer>
